body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 210mm;
    height: 297mm;
    padding: 2cm;
  }
  @media print {
    html, body {
      width: 210mm;
      height: 297mm;
    }
    page {
      margin: 0;
      border: initial;
      border-radius: initial;
      width: initial;
      min-height: initial;
      box-shadow: initial;
      background: initial;
      page-break-after: always;
    }
  }

  @font-face {
    font-family: BelleAllureCE;
    src: url("./fonts/BelleAllureCM-Gros.otf") format("opentype");
  }

  @font-face {
    font-family: BelleAllureCE-Fin;
    src: url("./fonts/BelleAllureCM-Fin.otf") format("opentype");
  }

  @font-face {
    font-family: BelleAllureDuctus-Normal;
    src: url("./fonts/BelleAllureDuctus-Normal.otf") format("opentype");
  }

  @font-face {
    font-family: BelleAllureScript;
    src: url("./fonts/BelleAllureScript3i-Gros.otf") format("opentype");
  }

  * {
    font-family: BelleAllureDuctus-Normal;
    font-size: calc(3mm * 3);
    print-color-adjust: exact; 
    -webkit-print-color-adjust: exact; 
  }

  .row {
    margin-bottom: -5ex;
  }
  
  .letter-line {
    height: calc(1ex*5);
    width: 100%;
    position: relative;
    z-index: 10;
  }

  .letter-line::before {
    display: inline-block;
    height: 100%;
    content: '';
  }

  .cursive {
    vertical-align: baseline;
    color: #D95D9D;    
  }

  .lines {
    position: relative;
    top: calc(-1ex*6);
  }

  .line {
    border-top: dashed #676767;
    border-width: 1px;
    margin-top: -1px;
    margin-bottom: -1px;
    height: 1ex;
  }

  .purple{
    background-color: #e8e7f8;
  }

  .blue{
    background-color: #f1f5fc;
  }

  .white{
    background-color: #ffffff;
  }



